.body, html{
    font-family: 'Roboto', "JetBrains Mono", "Lucida Console", monospace;
}

.item-holder{
    width: 60vw;
    justify-content: space-evenly;
    flex-direction: row;
    position: absolute;
    top: 6vw;
    left: 10vw;
    max-height: 33vw;
    overflow-y: auto;
    padding: 2vw;
}

.item-holder::-webkit-scrollbar {
    display: none; /* For Chrome, to hide the scroll bar */
}

.item {
    width: 25vw;
    height: 25vw;
    border: 2px solid white;
    border-radius: 1vw;
    padding:  2vw;
    margin: 2vw;
    background-color: rgba(217, 183, 102, 1);
    color: rgba(96, 62, 63, 1);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.25);
    flex-direction: column;
}

.item-info-holder{
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 10vw;
}

.image-holder{
    border: rgba(96, 62, 63, 1) 2px solid;
}

/* buttons!!*/
.buy-button{
    background-color: rgba(96, 62, 63, 1);
    color: white;
    border-radius: 5px;
    height: 4vw;
    width: 11vw;
    position: relative;
    font-size: 2vw;
    border: white 2px solid;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.25);
    top: 4vw;
    left: 2vw;
}

.header-button{
    position: fixed;
    left: 22vw;
    top: 1vw;
    display: none;
    background-color: rgba(217, 183, 102, 1);
    color: rgba(96, 62, 63, 1);
    border-radius: 5px;
    width: 6vw;
    height: 3vw;
    font-size: 1vw;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.25);
    border: white 2px solid;
}

.purchase-button{
    display: none;
    background-color: rgba(96, 62, 63, 1);
    color: white;
    border-radius: 5px;
    height: 4vw;
    width: 10vw;
    position: fixed;
    bottom: 6vw;
    right: 7vw;
    font-size: 2vw;
    border: white 2px solid;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.25);
}

.okay-button{
    position: absolute;
    background-color: rgba(217, 183, 102, 1);
    color: rgba(96, 62, 63, 1);
    border-radius: 5px;
    height: 4vw;
    width: 9vw;
    bottom: 4vw;
    font-size: 2vw;
    border: white 2px solid;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.25);
}

.dual-wielding{
    display: flex;
    max-height: 30vw;

}
.body, html{
    overflow-x: hidden;
    background-color: rgba(41, 71, 76, 1);
}
.cart{
    padding: 5vw;
    width: 15vw;
    height: 50vw;
    border: 2px solid white;
    background-color: rgba(217, 183, 102, 1);
    position: fixed;
    right: -0.9vw;
    top: 4.8vw;
    z-index: -1; /* for slayering*/
    color: rgba(96, 62, 63, 1);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.25);
}
.header{
    position: absolute;
    width: 100vw;
    background-color: rgba(19, 49, 58, 1);
    top: 0;
    left: 0;
    flex-direction: row;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}
.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(19, 49, 58, 1);
    color: white;
    text-align: center;
    font-size: 0.9vw;
    color: rgba(217, 183, 102, 1);
}

.wall{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
    display: none;
}
.pop-up{
    width: 30vw;
    height: 30vw;
    background-color: rgba(41, 71, 76, 1);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border: 2px solid white;
    border-radius: 1vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 20%;
    left: 30%;
}

.money{
    top: 0;
    right: 1vw;
    color: white;
    position: absolute;
}
.stone{
    position: absolute;
    right: 8vw;
    top: 0.4vw;
}
.pond{
    position: absolute;
    left: 23vw;
    top: 9vw;
}

.img1{
    display: flex;
    position: relative;
    left: 2vw;
}
.img2{
    display: flex;
    position: relative;
    left: 3vw;
}

